#me{
    border: 8px solid white;
    border-radius: 250px;
}
#me_navbar{
    border: 2px solid white;
    border-radius: 250px;
    padding: 0px 0px 0px 0px;
    margin-top: 5px;
}
.event-info .date{
    margin-left: 4px !important;
}
.showcase-text a{
    color: white;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
.showcase-text a:hover{
    color: #2C3E50;
}
.showcase-link a{
    color: #34495E;
    font-size: 1.19em;
}
.showcase-link a:hover{
    opacity: 0.6;
}
.showcase-desc{
    margin-top: 10px;
}
.codebase{
    margin-top: 10px;
}
.codebase i{
    padding-right: 5px;
    font-size: 1.4em;
    position: relative;
    top: 3px;
}
.codebase a{
    color: white;
}
.resources a{
    color: white;
}
#about a{
    color: #1ABC9C;
    font-weight: bold;
}
#about a:hover{
    color: #999;
}

/* Responsive */

/*------------------------------
 LARGE DEVICES
------------------------------*/
@media (min-width:1380px) {
}

@media (min-width:1280px) and (max-width:1380px) {
}

@media (min-width:1200px) and (max-width:1279px) {
}

@media (min-width:1161px) and (max-width:1199px) {
}

@media (min-width:992px) and (max-width:1160px) {
}

@media (min-width:940px) and (max-width:991px) {
}

@media (min-width:1px) and (max-width:939px) {
}

/*------------------------------
	MEDIUM DEVICES
------------------------------*/

@media (min-width:992px) and (max-width:1199px) {
}

/*------------------------------
	SMALL DEVICES
------------------------------*/

@media (min-width:768px) and (max-width:991px) {
}

/*------------------------------
	EXTRA SMALL DEVICES
------------------------------*/

@media (max-width:767px) {
	.timeline {
		margin:25px 0 0 250px;
	}
    .event .event-info {
        width: 240px;
    }
    #me_navbar{
        display: none;
    }
    .showcase-text{
        padding: 50px;
    }
}

/*------------------------------
	PHONES 600px width
------------------------------*/

@media (max-width:600px) {
	.timeline {
		margin:25px 0 0 170px;
	}
    .event .event-info {
        width: 160px;
    }
}

/*------------------------------
	PHONES 548px width
------------------------------*/

@media (max-width:548px) {
	.timeline {
		margin:25px 0 0 140px;
	}
    .event .event-info {
        width: 130px;
    }
}

/*------------------------------
	PHONES 480px width
------------------------------*/

@media (max-width:480px) {
	.timeline {
		margin:25px 0 0 120px;
	}
    .event .event-info {
        width: 110px;
    }
}

/*------------------------------
	PHONES 320px width
------------------------------*/

@media (max-width:320px) {
	/*.timeline {*/
		/*margin:25px 0 0 110px;*/
	/*}*/
}


